//variable declaration
$phone-screen-max: 480px;

html {
    height: 100vh;
} //end html style
body {
    background: #802626 url('pexels-this-is-zun-1148215.jpg') no-repeat top right; //Photo by THIS IS ZUN from Pexels
    background-size: 50% 100%;
    margin: 0;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.25em;
} //end body style

#contentContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 100%;
    float: left;

    header {
        margin: auto;
        height: 25%;

        img {
            height: 100%;
        }

        p {
            margin-top: 0;
            text-align: center;
            font-size: 0.5em;
        }
    }

    #searchForm {
        width: 100%;
        height: 15%;
        display: block;
        text-align: center;

        p {
            margin-bottom: 0;
            color: white;
        }

        input {
            width: 75%;
            height: 30px;
            border-radius: 10px;
            font-size: 1em;
        }

        button {
            height: 30px;
            font-size: 0.9em;
        }
    }

    #map {
        width: 100%;
        height: 50%;
        position: relative;
        
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    
} //end content container style

#siteInfo {
    width: 50%;
    height: 100%;
    float: right;

    p {
        margin: 25% auto 0% auto;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 30px;
        color: white;

        a {
            font-weight: bold;
            color: white;
        }
    }
} //end site info style

@media (max-width: $phone-screen-max) {
    body {
        background-image: none;
    }

    #contentContainer {
        width: 100%;
        height: 65%;
        float: none;
        font-size: 0.75em;
        
        header {
            margin-top: 0;
            margin-bottom: 0;
        }

        #searchForm {
            height: 20%;
        }

        #map {
            width: 100%;
            height: 55%;
        }
    }

    #siteInfo {
        float: none;
        margin-top: 2%;
        width: 100%;
        height: 25%;

        p { 
            margin-top: 0;
            width: 90%;
            padding: 10px;
            font-size: 0.75em;
        }
    }
}